  <body>
    <h1>Books</h1>
    <table>
      <thead>
          <tr>
              <th scope="columns">Title</th>
              <th scope="columns">Body</th>
              <th scope="columns" colspan="3"></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="td_title">idをもとにTitleを記載</td>
              <td class="tb_body">idをもとにBodyを記載</td>
              <td>
                <%= link_to("Show","books/#{:id}") %>
              </td>
              <td>
                <%= link_to("Edit","books/#{:id}/edit") %>
              </td>
              <td>
                <%= link_to("Destroy","books/#{:id}/destroy") %>
              </td>
          </tr>
      </tbody>
    </table>
    <h2>New book</h2>
    <%= form_with model: Book.new do |f| %>
      <div class="field">
        <label for="book_title">Title</label>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <label for="book_content">Body</label>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit 'Create Book'%>
      </div>
    <% end %>
  </body>